
.table, td{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
        vertical-align: middle;
}

.vac{
    /* padding-top: 0px;
    padding-bottom: 0px; */
        vertical-align: middle;
        /* margin-bottom:inherit */
}
.swal2-show {
    -webkit-animation: swal2-show .1s;
    animation: swal2-show .1s;
}
#content2::before{
    content: "\a";
    white-space: pre;
}
.display-inline-block{
    display: block;
}



/*  */
.text-black{
    color: black;
}
.ffa {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.slick-slider {
    position: relative;
	/* display: none; */
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
	overflow:hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-fluid[_ngcontent-hrm-c48] {
    max-width: 100%;
    height: auto;
}

.cat-slider img {
    width: 38px;
    margin: auto;
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.ilt{
    display: inline;
}


.nav-toggler {
	/* visibility:unset; */
	position: absolute;
	display: block;
	margin-left: 1rem;
	left: 0;
	right: 50%;
	width: 30px;
	height: 40px;
	transition: 0.3s ease;
	/* z-index: 9999; */

}

.nav-toggler span {
	position: absolute;
	display: block;
	width: 100%;
	left: 0px;
	height: 3px;
	background-color: rgb(245, 237, 237);
	transition: 0.3s ease;
	transform-origin: center;
}

.nav-toggler span:nth-child(1) {
	top:26%;
}

.nav-toggler span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(4) {
	bottom: 26%;
}

.nav-toggler.drawer-open span:nth-child(1) {
	top:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
	
}

.nav-toggler.drawer-open span:nth-child(2) {
	/* background-color: transparent; */
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.nav-toggler.drawer-open span:nth-child(3) {
	top: 50%;
	/* background-color: transparent; */
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggler.drawer-open span:nth-child(4) {
	bottom:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
	/* background-color: transparent; */
	/* display:none; */
}

.navbar-brand.override {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color:white;
}

@media (max-width:768px) {
    .cart_margin{
        margin-bottom: 12px;
   }
}