<!-- <div class="osahan-forgot">
    <div class="bg-light border-bottom p-3">
        <a class="text-primary" [routerLink]="['/login']" [routerLinkActive]="'active'"><i class="feather-chevron-left"></i> Back</a>
    </div>
    <div class="p-4">
        <h2>Reset password</h2>
        <p>Enter your Email/Mobile Number below and we'll send you an email in which your <b>One Time Paasword(OTP)</b> will be. for Reset your password
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="mt-5 mb-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email/Mobile</label>
                <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" placeholder="Enter your email/mobile number" aria-describedby="emailHelp">
            <span class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">Required Input</span>
            </div>
            <button class="btn btn-primary btn-lg btn-block">Generate OTP</button>
        </form>
    </div>
</div> -->

<div class="coverImage">
    <div class="login-page">
        <div class="vh-100 p-4">
            <div class="osahan-forgot">
                <div class="text-center ">
                    <img src="{{base.adminAppUrl + '/uploads/apps/logo.png'}}" title="logo"
                    class="text-center h-1-3rem mt-3"><br/>
                </div>
                <div class="text-white p-0 mt-5 mb-4">
                    <h6>Reset password</h6>
                    <p class="text-white">Enter your registered mobile number to reset your password.
                    </p>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="mt-4 mb-4">
                        <div class="form-group verify_number">
                            <label for="exampleInputEmail1">Mobile Number</label>
                            <input type="number" class="form-control spin-button" formControlName="email" id="exampleInputEmail1"
                            maxlength="10"    placeholder="Enter your Mobile Number" aria-describedby="emailHelp">
                            <div class="text-danger ffa" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">Mobile number is required</div>
                            <span class="text-danger ffa" *ngIf="f.email.touched  && f.email.errors?.pattern">Enter 10 digit valid mobile number</span>
                        </div>
                        <button class="btn btn-lg btn-block" style="color: #fff; background-color: #218838;border-color: #1e7e34" 
                        [disabled]="!resetPasswordForm.valid" >Generate OTP</button>
                    </form>
                </div>
                <div class="text-center p-1">
                    <a class="text-center text-white" [routerLink]="['/login']" [routerLinkActive]="'active'">Back to login page</a>
                </div>
            </div>
        </div>
    </div>
</div>