<div class="fixed-bottom-bar">
    <div class="osahan-home-page pb-3">
        <div class="bg-primary p-3">
            <div class="text-white">
                <div class="title d-flex align-items-center ">
                    <a class="nav-toggler" [class.drawer-open]="isDrawerOpen" id="nav-toggler"
                        (click)="toggleNavDrawer(!isDrawerOpen)" data-target="#navbar" aria-controls="navbar">
                        <span></span> <span></span> <span></span> <span></span>
                    </a>
                    <h4 class="font-weight-bold m-0 pl-5">
                      <!-- API Settings -->
                      {{type == 1 ? 'SMS Settings' : 'Whats App Settings'}}
                    <!-- <img src="{{base.adminAppUrl + '/uploads/apps/logo.png'}}" title="logo" class="text-center h-1-3rem mt-3"> -->
                    
                    </h4>
                </div>
                <app-sidebar [isDrawerOpen]="isDrawerOpen" (drawerToggleEmitter)="toggleNavDrawer($event)">
                </app-sidebar>
            </div>
        </div>
        <div class="pl-3 pr-3" >
            <div class="bg-white rounded shadow mb-0 profile-details">
                <!-- <div class="modal-header">
                    <h5 class="modal-title">{{type == 1 ? 'SMS Settings' : 'Whats App Settings'}}</h5>
                </div> -->
                <div class="m-3 pb-2 pt-2">
                    <form [formGroup]="fg" (ngSubmit)="on_submit()">
                        <div class="form-row" formGroupName="tbl_api">
                            <div class="col-md-12 form-group "><label class="col-form-label label">{{type == 1 ? 'SMS API Url' : 'Whats App API Url'}}</label>
                                <input placeholder="Api Url" type="text" class="form-control" name="url"
                                formControlName="url">
                                <div class="text-danger"
                                    *ngIf="fg.get('tbl_api.url')?.invalid && (fg.get('tbl_api.url')?.dirty || fg.get('tbl_api.url')?.touched)">
                                    <div class="text-danger" *ngIf="fg.get('tbl_api.url')?.errors?.required">URL is required.</div>
                                    <div class="text-danger" *ngIf="fg.get('tbl_api.url')?.errors?.pattern">Invalid URL format.</div>
                                </div>
                                    <input type="hidden" class="form-control" formControlName="id">
                            </div>
                        </div>
                        <div class="" formGroupName="tbl_api_key">
                            <label class="col-form-label label font-weight-bold">API Parameters:</label>
                            <div *ngFor="let api_key of form_array.controls; let i = index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-md-2 align-items-center display-none">
                                        <label class="col-form-label label"> {{api_key.value.title}}</label>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <input placeholder="key" type="text" class="form-control" name="key"
                                            formControlName="key">

                                        <div *ngIf="form_array.controls[i].get('key')?.invalid && form_array.controls[i].get('key')?.touched"
                                            class="text-danger">
                                            <small *ngIf="form_array.controls[i].get('key')?.hasError('required')">
                                                *Key is required.
                                            </small>
                                        </div>

                                        <input type="hidden" class="form-control" formControlName="title">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <input placeholder="value" type="text" class="form-control" name="value"
                                            formControlName="value">
                                    </div>

                                    <div class="col-md-2 form-group"
                                        *ngIf="api_key.value.title == null && i!=form_array.controls.length - 1">
                                        <button type="button" class="btn btn-sm btn-danger" style="margin-top:3px;" (click)="onDeleteRow(i)"><i
                                                class="feather-minus"></i></button>
                                    </div>
                                    <div class="col-md-2 form-group" *ngIf="i==form_array.controls.length - 1">
                                        <button type="button" class="btn btn-sm btn-success" style="margin-top:3px;"(click)="onAddRow()"><i
                                                class="feather-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6 form-group">
                                    <button type="submit" class="btn btn-success w-100"[disabled]="!fg.valid"> <i class="feather-save"></i>
                                        Save</button>
                                </div>
                                <div class="col-6 form-group">
                                    <a class="btn btn-primary w-100" routerLink="/home" routerLinkActive="active">
                                        <i class="feather-home"></i>
                                        Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>