<div class="coverImage">
    <div class="login-page">
        <div class="vh-100 p-4">
            <div class="osahan-forgot">
                <div class="text-center ">
                    <img src="{{base.adminAppUrl + '/uploads/apps/logo.png'}}" title="logo"
                        class="text-center h-1-3rem mt-3"><br />
                </div>
                <!-- <div class="bg-light border-bottom p-3">
                        <a class="text-primary" [routerLink]="['/login']" [routerLinkActive]="'active'"><i
                                class="feather-chevron-left"></i> Back</a>
                    </div> -->
                <div class="osahan-forgot">
                    <div class="text-white p-0 mt-5 mb-4">
                        <h6>Reset password</h6>
                        <p class="text-white">Set your new password</p>
                        <form [formGroup]="checkPasswordForm" (ngSubmit)="checkPassword()" class="mt-4 mb-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">New Password</label>
                                <input type="password" class="form-control" formControlName="password" id="password"
                                    placeholder="Enter your password" aria-describedby="emailHelp">
                                <span class="text-danger"
                                    *ngIf="(f.password.touched) && f.password.errors?.required">Required
                                    Input</span>
                                    <span class="text-danger"
                                    *ngIf="f.password.touched  && f.password.errors?.pattern">
                                    Password must contain at least one number, one uppercase and a
                                    lowercase letter and at least 8 characters.Password cannot
                                    contain whitespace. </span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirm_password"
                                    id="confirm_password" placeholder="ReEnter your password"
                                    aria-describedby="emailHelp">
                                <span class="text-danger"
                                    *ngIf="(f.confirm_password.touched) && f.confirm_password.errors?.required">Required
                                    Input</span>
                                    <div class="text-danger" *ngIf="f.confirm_password.errors?.mustMatch">Password and
                                        confirm password should be same.</div>
                            </div>
                            <button class="btn btn-lg btn-block" type="submit" [disabled]="!checkPasswordForm.valid"
                                style="color: #fff; background-color: #218838;border-color: #1e7e34">Reset</button>
                        </form>
                    </div>
                    <div class="text-center p-1">
                        <a class="text-center text-white" [routerLink]="['/login']" [routerLinkActive]="'active'">Back
                            to login page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>