
.nav-toggler {
	/* visibility:unset; */
	position: absolute;
	display: block;
	margin-left: 1rem;
	left: 0;
	right: 50%;
	width: 30px;
	height: 40px;
	transition: 0.3s ease;
	/* z-index: 9999; */

}

.nav-toggler span {
	position: absolute;
	display: block;
	width: 100%;
	left: 0px;
	height: 3px;
	background-color: rgb(245, 240, 240);
	transition: 0.3s ease;
	transform-origin: center;
}

.nav-toggler span:nth-child(1) {
	top:26%;
}

.nav-toggler span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%);
}

.nav-toggler span:nth-child(4) {
	bottom: 26%;
}

.nav-toggler.drawer-open span:nth-child(1) {
	top:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
	
}

.nav-toggler.drawer-open span:nth-child(2) {
	/* background-color: transparent; */
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.nav-toggler.drawer-open span:nth-child(3) {
	top: 50%;
	/* background-color: transparent; */
	transform: translateY(-50%) rotate(45deg);
}

.nav-toggler.drawer-open span:nth-child(4) {
	bottom:50%;
	left: 50%;
	width: 0%;
	opacity: 0;
	/* background-color: transparent; */
	/* display:none; */
}

.navbar-brand.override {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color:white;
}

.verify_number, .col, .form-control-lg{
    /* padding: .3rem .3rem; */
    /* text-align: center; */
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
}